@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
/* *, *::before, *::after{
  border: 5px solid white ;
} */
.wallet-adapter-button-trigger {
  background: rgb(100, 26, 230) !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}

.custom-gradient {
  background: linear-gradient(103.99deg, #002D00
  60.64%, #034503 150.47%);
}